/* Table of content */
.toc-block {
	@include float-left(100%);
	background: #FAFBFC;
	border: 1px solid #EDEDED;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 35px;

	a {
		font-size: 13px;
		color: #737373;
		line-height: 27px;
		border-bottom: 0;

		&:hover {
			border-bottom: 1px solid;
		}

		span {
			margin-right: 10px;
		}
	}

	&.list {

		li {
			color: #b0b0b0;
			margin-left: 20px;
			list-style-type: disc;
		}
	}

	ul {
		margin-bottom: 0;
	}

	li ul {
		padding-left: 15px;
	}
}

/* Tables */
.table {
	margin-bottom: 15px;

	&.no-border {
		tr, td, th {
			border: 0;
		}
	}

	tr, td, th {
		border: 1px solid #A9A9A9;
	}

	td, th {
		padding: 10px;
	}

	thead {
		th {
			text-align: left;
			font-weight: 600;
			background-color: #D0E0F0;
		}
	}

	tbody {
		th {
			text-align: left;
			font-weight: 600;
			background-color: #D0E0F0;
		}
	}

	table {
		margin-bottom: 0;
	}
}