//Grid Variables
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

.grid {
	@include float-left(100%);
	max-width: $base-width;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column,
.columns {
	float: left;
}

.column,
.columns {
	margin-left: $column-margin;
}

.column:first-child,
.columns:first-child {
	margin-left: 0;
}

@function grid-column-width($n) {
	@return $column-width * $n - ($column-margin*($total-columns - $n)/$total-columns);
}

@function grid-offset-length($n) {
	@return grid-column-width($n) + $column-margin;
}

.one.column,
.one.columns          { width: grid-column-width(1);  }
.two.columns          { width: grid-column-width(2);  }
.three.columns        { width: grid-column-width(3);  }
.four.columns         { width: grid-column-width(4);  }
.five.columns         { width: grid-column-width(5);  }
.six.columns          { width: grid-column-width(6);  }
.seven.columns        { width: grid-column-width(7);  }
.eight.columns        { width: grid-column-width(8);  }
.nine.columns         { width: grid-column-width(9);  }
.ten.columns          { width: grid-column-width(10); }
.eleven.columns       { width: grid-column-width(11); }
.twelve.columns       { width: 100%; margin-left: 0;  }

.one-third.column     { width: grid-column-width(4);  }
.two-thirds.column    { width: grid-column-width(8);  }
.one-half.column      { width: grid-column-width(6);  }