/* ==========================================================================
   Layout
   ========================================================================== */

.wrapper {
	margin: 0 auto;
	width: $base-width;
	padding-right: $layout-padding;
	padding-left: $layout-padding;

	@media screen and (max-width: 615px) {
		padding-right: $layout-padding - 25px;
		padding-left: $layout-padding - 25px;
	}

	@media screen and (max-width: $base-width) {
		width: 100%;
	}

	@media screen and (max-width: 500px) {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.container {
	@include float-left(100%);
}

.block {
	@include float-left(100%);
	padding: 60px 0;

	&.white {
		background-color: #fff;
	}

	&.grey {
		background-color: #FAFAFA;
	}

	&.header {
		border-bottom: 1px solid #F2F2F2;
	}

	&.header-bar {
		background-color: #533D78;
		color: #fff;
		padding: 20px 0;
	}
}

#footer {
	background-color: #F0F0F0;
}

/* Header bar
   ========================================================================== */

.header-bar {

	&.full-width {

		.wrapper {
			width: 100%;
		}
	}
}

/* Docs layout */
#doc-container {
	@include float-left(100%);

	&[data-style="sidebar"] {
		display: table;
		width: 100%;
		min-height: calc(100% - 293px); /* 100% - height of header bar and height of footer */

		#doc-content {
			display: table-cell;
			vertical-align: top;
			width: calc(100% - 350px);
		}
	}

	#doc-sidebar {
		display: table-cell;
		vertical-align: top;
		width: 350px;
		background-color: #FAFAFA;
		padding: 30px;
	}

	#doc-content {
		@include float-left(100%);
		background-color: #FFFFFF;
		padding: 30px;
	}
}