html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	@include font-size(1.6);
	line-height: 1.6;
	font-weight: 400;
	font-family: $base-font;
	color: $base-font-color;
	background-color: #EDEDED;
}

/* Logo
   ========================================================================== */
.logo {
	float: left;

	a {
		float: left;
		width: 114px;
		height: 18px;
		@include background-image-retina('../img/ataccama-logo-white', 'png', 114px, 18px);
		font-size: 0%;
		border: 0;

		&:hover {
			border: 0;
		}
	}
}

/* Dropdown
   ========================================================================== */

.dropdown {
	position: relative;
}

.dropthis {
	display: none;
	position: absolute;
	top: 30px;
	width: 200px;
	background: #FAFBFC;
	border: 1px solid #E4E4E4;
	border-radius: 5px;
	padding: 10px 0;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);

	li a {
		float: left;
		color: #404040;
		width: 100%;
		padding: 5px 10px;
		font-weight: 500;
		@include font-size(1.3);
		border: 0;
		text-transform: none;

		&:hover {
			background: #E5E5E5;
		}
	}

	.separator {
		float: left;
		width: 100%;
		margin: 10px 0;
		border-bottom: 1px solid rgba(210, 210, 210, 0.98);
	}
}

.switch {
	float: left;
	border-left: 1px solid #AEA1C7;
	@include font-size(1.4);
	font-weight: 300;
	text-transform: uppercase;
	margin-left: 15px;
	padding-left: 15px;

	.dropbtn {
		border: 0;
		color: #D2C3F0;
		letter-spacing: 1px;
		cursor: pointer;

		&:hover {
			color: #ffffff;

			svg {
				fill: #ffffff;
			}
		}

		svg {
			margin-left: 7px;
			fill: #d2c3f0;
			width: 10px;
			max-height: 10px;
		}
	}
}

.menu {
	float: right;

	.dropbtn {
		cursor: pointer;

		&:hover {
			color: #d2c3f0;

			svg {
				fill: #d2c3f0;
			}
		}

		svg {
			margin-left: 7px;
			fill: #fff;
			width: 10px;
			max-height: 10px;
		}
	}
}

/* Links
   ========================================================================== */

a {
	color: $brand-green;
	border-bottom: 1px dashed $brand-green;

	&:hover {
		color: darken($brand-green, 5%);
		border-bottom: 1px solid $brand-green;
	}
}

.text-center {
	text-align: center;
}

/* Header
   ========================================================================== */

.block.header {
	padding: 50px 0 50px 0;

	h1, h2 {
		float: left;
		width: 100%;
	}

	h1 {
		@include font-size(3.5);
		color: #737373;
		line-height: 47px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	h2 {
		@include font-size(1.7);
		line-height: 19px;
		color: #737373;
		font-weight: 400;

		@media screen and (max-width: 500px) {
			line-height: 29px;
		}
	}
}



/* Page header
   ========================================================================== */

.page-header {
	@include float-left(100%);
	border-bottom: 1px solid #C1C1C1;
	padding: 20px 0;
	margin-bottom: 35px;

	h1 {
		@include font-size(3.2);
	}
}

/* Lists
   ========================================================================== */

.list-arrow {
	@include float-left(100%);
	margin-top: 15px;

	li {
		float: left;
		width: 100%;
		margin-bottom: 10px;
		line-height: 26px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.lightblue {

		li {
			padding: 0px 0 0px 30px;
			@include background-image-retina('../img/arrow-big-right-lightblue', 'png', 13px, 13px);
			background-position: left 6px;
			background-repeat: no-repeat;
		}

		a {
			color: $light-blue;
			font-weight: 600;
			@include font-size(1.7);
			border: 0;

			&:hover {
				border-bottom: 1px solid $light-blue;
			}
		}
	}

	&.green {

		li {
			padding: 0px 0 0px 30px;
			@include background-image-retina('../img/arrow-big-right-green', 'png', 13px, 13px);
			background-position: left 6px;
			background-repeat: no-repeat;
		}

		a {
			color: #51A813;
			font-weight: 600;
			@include font-size(1.7);
			border: 0;

			&:hover {
				border-bottom: 1px solid #51A813;
			}
		}
	}
}

/* Footer
   ========================================================================== */

#footer {
	background-color: #EDEDED;
	padding: 60px 0 150px 0;
	color: #666666;

	.container {
		position: relative;
	}

	svg {
		fill: #595959;
		width: 17px;
		height: 15px;
	}

	a {
		border: 0;
		color: #595959;

		&:hover {
			text-decoration: underline;
		}
	}

	@media screen and (max-width: 1200px) {
		padding-bottom: 60px;
	}

	.social {
		@include float-left(100%);
		max-width: 430px;

		li {
			@include float-left(100%/4);
		}
	}

	.copyright {
		float: right;

		@media screen and (max-width: 600px) {
			@include float-left(100%);
			margin-top: 20px;
		}
	}
}

.browserupgrade {
	position: fixed;
	top: 0;
	padding: 50px 0;
	color: #ae5a63;
	width: 100%;
	min-height: 100px;
	border-bottom: 3px solid #ae5a63;
	background: #dfbebe;
	z-index: 9999999;
	text-align: center;

	a {
		color: #ae5a63;
		border-color: #ae5a63;
	}
}

