// Clearfix
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
	 -moz-box-sizing: $boxmodel;
		  box-sizing: $boxmodel;
}

@mixin float-left($width) {
	float: left;
	width: $width;
	@include clearfix();
}

@mixin float-right($width) {
	float: right;
	width: $width;
	@include clearfix();
}

/* Retina ready images mixin */
@mixin background-image-retina($file, $type, $width, $height) {
	background-image: url($file + '.' + $type);

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		& {
			background-image: url($file + '@2x.' + $type);
			background-size: $width $height;
			-webkit-background-size: $width $height;
		}
	}
}

/* REM/PX mixins */
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

/* background cover */
@mixin background-cover() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}