// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;

	&.header-section {
		@include float-left(100%);
		@include font-size(2.4);
		padding-bottom: 5px;
		border-bottom: 2px solid $light-blue;
	}
}

h1 { @include font-size(4.0); line-height: 1.2; }
h2 { @include font-size(3.2); font-weight: 600; line-height: 1.25;  }
h3 { @include font-size(2.2); font-weight: 600; line-height: 1.3;  }
h4 { @include font-size(2); font-weight: 600; line-height: 1.3; }
h5 { @include font-size(1.8); font-weight: 600; line-height: 1.3; }
h6 { @include font-size(1.7); font-weight: 600; line-height: 1.3; }

p {
	margin-top: 0;
	margin-bottom: 15px;

	&.citation {
		margin-top: 20px;
		font-size: 13px;
	}
}

strong {
	font-weight: 600;
}

.sub-header {
	// font-style: italic;
	font-weight: 500;
	@include font-size(2.0);
	color: #404040;
	line-height: 30px;
	margin-bottom: 60px;

	a {
		color: #404040;
		border-bottom: 1px dashed #404040;

		&:hover {
			color: darken(#404040, 5%);
			border-bottom: 1px solid #404040;
		}
	}
}

/* Blockquote */
blockquote {
	margin-left: 30px;
	border-left: 3px solid #E4E4E4;
	padding: 10px 0 10px 20px;
	margin-bottom: 15px;

	p:last-child {
		margin-bottom: 0;
	}
}

/* Code */
code, kbd, pre, samp {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}

kbd {
	padding: 2px 4px;
	font-size: 90%;
	color: #fff;
	background-color: #333;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

.hightlightCode {
	@include font-size(1.4);
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	margin-bottom: 15px;
}

/* Lists */
ul, ol {
	margin-bottom: 15px;

	ul, ol {
		margin-bottom: 0;
	}
}

ul {

	&.list {
		list-style-type: disc;
		padding-left: 20px;

		li {
			margin-bottom: 5px;
		}
	}
}

ol {
	list-style-type: decimal;
	padding-left: 20px;

	li {
		margin-bottom: 5px;
	}

	ul {
		list-style: disc;
	}
}

/* Expand Blocks */
//.expandBlock {
//	float: left;
//	width: 100%;
//	border: 1px solid #CCC;
//	background-color: #F9F9F9;
//	border-radius: 4px;
//
//	.expandTitle {
//		float: left;
//		width: calc(100% - 20px);
//		background: #EDEDED;
//		padding: 2px 10px;
//		border-radius: 4px 4px 0 0;
//		font-size: 13px;
//	}
//
//	.expandContent {
//		float: left;
//		width: calc(100% - 20px);
//		padding: 10px;
//		overflow: auto;
//	}
//}

